* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #39a6b2;
  font-family: Helvetica, Arial, sans-serif;
}


/* HEADER / NAV STYLE START */
header {
  padding: 20px 35px;
  background-color: #83c8dd;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-decoration: none;
}
  
header h1 {
  font-weight: bold;
  margin: 0;
  font-size: 36px;
}
  
header nav {
  margin: 7px 0;
}
  
header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
  
header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
}

header a {
  font-size: 65px;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  color: black;
  text-decoration: none;
}
/* HEADER/NAV STYLE END */
  

/* HERO STYLES START */
.hero {
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: flex-start;
  padding: 0px 50px 50px 0px;
  background-color: #6a9ab6;
  border-style: solid;
  border-width: 5px;
  border-color: black;
}

#me {
  border-right: black;
  border-style: solid;
  border-width: 5px;
}
  /* HERO STYLES END */


/* ABOUT ME STYLES START */
.intro p {
  line-height: 1.7;
  color: #000000;
  width: 80%;
  margin: 0 auto;
  font-size: 20px;
  text-align: right;
}

#about-me h2 {
  font-size: 50px;
  float: right;
  flex-direction: column;
  padding: 100px 0px 0px 25px;
}

#about-me p {
 float: right;
 text-align: right;
 padding: 0px 0px 5px 100px;
 color: black;
 border-style: initial;
 border-width: 5px;
}
/* ABOUT ME STYLES END */


/* WORK SECTION STYLES START */
#work {
  float: left;
 text-align: left;
 margin-top: auto;
 flex-direction: column;
 flex-wrap: wrap;
 padding: 0px 75px 500px 1000px;
}

#work h2 {
  display: inline;
}

.intro p {
  padding-top: 50px;
  text-align: center;
}

.section-title {
  font-size: 48px;
  border-bottom: 3px solid;
  color: #024e76;
  padding-bottom: 20px;
  text-align: center;
  margin: 0 auto 35px auto;
  width: 50%;
}

.primary-border {
  border-color: #000000;
}

.secondary-border {
  border-color: #000000;
}
/* WORK SECTION STYLES END */


/* FOOTER STYLES START */
footer {
  background: #6a9ab6;
  padding: 40px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

#contact-me {
  flex-wrap: wrap;
  flex-direction: column;
  line-height: 1.7;
  color: #030303;
  width: 80%;
  margin: 0 auto;
  font-size: 20px;
  text-align: left;
}
/* END FOOTER STYLES */